/*w rozdzielczości poniżej 992px produkty mają się wyświetlać w dwóch kolumnach, a poniżej 480px w jednej kolumnie */

/*Rozdzielczość ponizej 992px*/
@media all and (max-width: 991px){
	#shop{
		flex-wrap: wrap;
		
	}
	.container{
		flex-basis: 40%;
		align-items: center;
	}
	
}

/*Rodzielczość poniżej 480*/
@media all and (max-width: 479px){
	#shop{
		flex-wrap: wrap;
		
	}
	.container{
		flex-basis: 100%;
		align-items: center;
		margin: 10px;
	}
	
}
